<div class="container">
    <div class="jumbotron jumbotron-fluid mt-4 border-0 rounded p-4 w-100 bg-orange">

        <h1 class="display-4 text-center">Pró-Causas em casa</h1>
        <p class="col-12 mt-mb-0 justify-content-left">Sabemos que pode ser difícil contribuir com causas sociais fora do cotidiano.<br> Por isso, criamos este espaço com várias ideias de atitudes que podem ser tomadas para contribuir com a sociedade e o planeta a partir de hábitos e ações tomadas
            diariamente. </p>
    </div>
</div>
<!--Faixa ColetaSeletiva-->
<!--Texto ColetaSeletiva-->
<div class="container">
    <div class="col-12 mt-3 d-flex justify-content-center text-orange">
        <h1 class="mb-0">Coleta seletiva</h1>
    </div>
    <div>
        <p class="col-12 m-3 p-2 text-orange justify-content-center">As únicas tarefas necessárias para realizar coleta seletiva em casa são: separar os itens por categoria, e higienizar caso seja necessário (como embalagens de alimentos e bebidas). Veja abaixo como contribuir e o impacto que você pode causar!</p>
    </div>
</div>
<!--/.Texto ColetaSeletiva-->
<!--Carousel Wrapper-->
<div id="multi-item-coleta" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class=" controls-top">
        <a class="btn-floating" href="#multi-item-coleta" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-coleta" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-coleta" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-coleta" data-slide-to="1"></li>

    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/papel-origami.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Papel</h4>
                        <p class="card-text mt-0 mb-0">O papel reciclado poupa:<br>• 33% de energia<br>• 49% de água<br>• 37% de emissões de gases do efeito estufa</p>
                        <p class="text-center text-orange font-weight-bold justify-content-center">1 tonelada de papel reciclado salva 24 árvores!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/plastico.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Plástico</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/vidro.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Vidro</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/metal.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Metal</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!--Botões de passar slide-->
            <a class="carousel-control-prev" href="#multi-item-coleta" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#multi-item-coleta" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
            <!--/.Botões de passar slide-->
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/lixo-eletronico.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Material eletrônico</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/lixo-organico.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Material orgânico</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/nao-reciclavel.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Não recicláveis</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/posto-coleta.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Postos de coleta</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!--Botões de passar slide-->
            <a class="carousel-control-prev" href="#multi-item-coleta" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#multi-item-coleta" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
            <!--/.Botões de passar slide-->
        </div>
        <!--/.Second slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<!--/.Faixa ColetaSeletiva-->

<!--Faixa ConsumoSustentável-->
<!--Texto ConsumoSustentável-->
<div class="container">
    <div class="col-12 mt-3 d-flex justify-content-center text-orange">
        <h1 class="mb-0">Práticas de consumo sustentável</h1>
    </div>
    <div>
        <p class="col-12 m-3 p-2 text-orange justify-content-center">Existem escolhas que fazemos diariamente que podem causar grande impacto ambiental, social e também na nossa saúde quanto no meio ambiente. Conheça algumas práticas de consumo sustentável e tome atitudes mais conscientes no seu dia-a-dia.</p>
    </div>
</div>
<!--/.Texto ConsumoSustentável-->
<!--Carousel Wrapper-->
<div id="multi-item-consumo" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class=" controls-top">
        <a class="btn-floating" href="#multi-item-consumo" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-consumo" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-consumo" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-consumo" data-slide-to="1"></li>

    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/composteira_domestica.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Utilize uma composteira doméstica</h4>
                        <p class="card-text mt-0 mb-0">Somente o necessário, o extraordinário é demais!
                            <br>• 33% de energia<br>• 49% de água<br>• 37% de emissões de gases do efeito estufa
                        </p>
                        <p class="text-center text-orange font-weight-bold justify-content-center">1 tonelada de papel reciclado salva 24 árvores!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/reaproveitar.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Reaproveite</h4>
                        <p class="card-text">Cascas e sobras de alimentos podem ser reaproveitados em receitas deliciosas. Borra de café pode ser um ótimo esfoliante de pele, assim como fertilizante para plantas. Sementes de frutas e vegetais não precisam ir para o lixo,
                            você pode plantá-las, fazer compostagem ou mesmo receitas muito nutritivas.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/reutilizar.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Reutilize</h4>
                        <p class="card-text">Embalagens, pneus, potes, caixas, tudo o que puder. Não compre outra vez o que você pode consertar, transformar e reutilizar.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/agua.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Reduza o consumo de água</h4>
                        <p class="card-text">Já conhecemos algumas recomendações: tomar banhos curtos, fechar a torneira, reaproveitar água do banho ou da máquina de lavar para fazer pequenas limpezas. Mas já parou para pensar no consumo de água dos produtos que compramos?
                            Gasta-se cerca de 7 mil litros de água para a produção de uma única calça jeans. Isso é o consumo médio de água de uma pessoa por mais de 2 meses! Faça escolhas que reduzam sua pegada hídrica.</p>
                    </div>
                </div>
            </div>
            <!--Botões de passar slide-->
            <a class="carousel-control-prev" href="#multi-item-consumo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#multi-item-consumo" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
            <!--/.Botões de passar slide-->
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/energia.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Reduza o consumo de energia</h4>
                        <p class="card-text">Opte por eletrodomésticos econômicos</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/organizacao.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Organize-se</h4>
                        <p class="card-text">Organização é a chave para evitar o desperdício de alimentos, descartar corretamente as embalagens e os resíduos e praticar o consumo consciente.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/compras.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Compre o necessário</h4>
                        <p class="card-text">Somente o necessário, o extraordinário é demais! Faça uma lista de compras e adquira o suficiente para não estragar ou ocupar espaço desnecessariamente.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/doacao.jpg" height="200px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Doe!</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!--Botões de passar slide-->
            <a class="carousel-control-prev" href="#multi-item-consumo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#multi-item-consumo" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
            <!--/.Botões de passar slide-->
        </div>
        <!--/.Second slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<!--/.Faixa ConsumoSustentável-->