<div class="container">
    <div class="jumbotron jumbotron-fluid mt-4 border-0 rounded p-4 w-100 bg-orange">

        <h1 class="display-4 text-center">Pró-Causas em casa</h1>
        <p class="col-12 mt-mb-0 justify-content-left">Sabemos que pode ser difícil contribuir com causas sociais fora do cotidiano.<br> Por isso, criamos este espaço com várias ideias de atitudes que podem ser tomadas para contribuir com a sociedade e o planeta a partir de hábitos e ações tomadas
            diariamente. </p>
    </div>
</div>
<!--Faixa ColetaSeletiva-->

<!--Texto ColetaSeletiva-->

<div class="container">
    <div class="view">
        <img class="d-block w-100 opacidade" src="assets/img/reciclagem-criancas.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
    </div>
    <div class="carousel-caption">
        <h3 class="h3-responsive">Coleta seletiva</h3>
        <p>As únicas tarefas necessárias para realizar coleta seletiva em casa são: separar os itens por categoria, e higienizar caso seja necessário (como embalagens de alimentos e bebidas). <br> Veja abaixo como contribuir e o impacto que você pode causar!
        </p>
    </div>
</div>

<!--/.Texto ColetaSeletiva-->

<!--Cards Coleta Seletiva-->
<div class="container-fluid text-center ">
    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Praticamente todos os tipos são recicláveis, entre eles: papelão, jornais, revistas, livros, caixas do tipo longa-vida, cartolina e papéis limpos.</p>
                <div class="image">
                    <img height="200px" src="assets/img/papel.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Papel <br> <span>1 tonelada de papel reciclado salva 24 árvores</span></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>São plásticos recicláveis as sacolas plásticas, garrafas PET, tampinhas de garrafa, brinquedos, embalagens de produto de limpeza, embalagens plásticas em geral e isopor.</p>
                <div class="image">
                    <img height="200px" src="assets/img/plastico.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Plástico <br> <span>1 tonelada de plástico reciclado evita a extração de 10kg de petróleo</span> </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Garrafas, copos e frascos de vidros podem ser 100% reciclados, com exceção das lâmpadas, cerâmicas, espelhos, cristais e vidros temperados. </p>
                <div class="image">
                    <img height="200px" src="assets/img/vidro.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Vidro <br> <span>1kg de vidro quebrado reciclado gera 1kg de vidro novo</span></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Podem ser recicladas as latas de alumínio, de aço, tampinhas metálicas, pregos, molduras de quadros, talheres de metais, tampas de panelas e panelas sem cabo, papel alumínio (limpo), ferragens e cobre.</p>
                <div class="image">
                    <img height="200px" src="assets/img/metal.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Metal <br> <span>A cada 75 latas de aço recicladas, uma árvore é salva</span></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>E-lixos são considerados perigosos e não devem ser misturados aos demais. São eles: lâmpadas, pilhas, eletrônicos, baterias, equipamentos eletrodomésticos, de informática, de telefonia, cartuchos e toners. Esses produtos devem ser devolvidos
                    no local da compra ou em ecopontos específicos.</p>
                <div class="image">
                    <img height="200px" src="assets/img/lixo-eletronico.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Material eletrônico <br> <span>Descarte incorreto contamina solos, lençóis freáticos e os organismos da fauna e da flora</span></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>São exemplos de resíduos orgânicos os restos de alimentos, cascas de frutas e verduras, resíduos de podas e galhos. Estes material não são recicláveis, porém podem ser enterrados ou compostados para servir como adubo e não gerar mais lixo
                    aos aterros.</p>
                <div class="image">
                    <img height="200px" src="assets/img/lixo-organico.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Material orgânico <br> <span> 10kg de material orgânico compostado geram 1 kg de adubo</span></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Separar o óleo de cozinha após sua utilização e descartá-lo corretamente em seus postos de coleta contribui tanto para a produção de sabão quanto para a não contaminação do meio ambiente, além de evitar o entupimento de encanamentos.
                </p>
                <div class="image">
                    <img height="200px" src="assets/img/oleo-de-cozinha-sabao.jpeg" alt="">
                </div>
                <div class="details">
                    <h2> Óleo de cozinha <br> <span>3L de óleo de cozinha (com outros ingredientes) geram 45L de sabão</span></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Os rejeitos são todos os resíduos que não podem ser reciclados, exemplos: papéis sujos ou engordurados, papel higiênico, embalagens de alimentos sujas ou engorduradas, guardanapos, fotografias, esponjas de cozinha, adesivos, etiquetas,
                    fita crepe, papel carbono, fotografias, papel toalha, fraldas descartáveis ou absorventes íntimos.</p>
                <div class="image">
                    <img height="200px" src="assets/img/nao-reciclavel.png" alt="">
                </div>
                <div class="details">
                    <h2> Não recicláveis</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Os postos de coleta seletiva são áreas instaladas em local adequado para o recebimento de descartes. Diferente da coleta que passa de porta em porta recolhendo os resíduos previamente selecionados (ou não), os pontos de coleta seletiva
                    são fixos e dependem que a entrega chegue até eles.</p>
                <div class="image">
                    <img height="200px" src="assets/img/posto-coleta.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Postos de coleta <br> <span>Encontre <a href="https://www.ecycle.com.br/postos/reciclagem.php" mce_href="postos/reciclagem.php" target="_blank"><span mce_name="strong" mce_style="font-weight: bold;" style="font-weight: bold;" class="Apple-style-span" mce_fixed="1">aqui</span></a>
                        os pontos de coleta próximos à sua casa
                        </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.Cards Coleta Seletiva-->

<!--/.Faixa ColetaSeletiva-->

<!--Faixa ConsumoSustentável-->

<!--Texto ConsumoSustentável-->
<div class="container">
    <div class="view">
        <img class="d-block w-100 opacidade" src="assets/img/childrennature.jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
    </div>
    <div class="carousel-caption">
        <h3 class="h3-responsive">Práticas de consumo sustentável</h3>
        <p>Existem escolhas que fazemos diariamente que podem causar grande impacto ambiental, social e também na nossa saúde quanto no meio ambiente. Conheça algumas práticas de consumo sustentável e tome atitudes mais conscientes no seu dia-a-dia.
        </p>
    </div>
</div>
<!--/.Texto ConsumoSustentável-->

<!--Cards Consumo Sustentável-->
<div class="container-fluid text-center">
    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>A composteira é um rico ecossistema higiênico que ajuda a reduzir seu lixo e emissões de gases do efeito estufa. Há muitos resíduos alimentares que podem compostados, como restos de frutas, verduras, legumes, alimentos cozidos ou estragados
                    (sem exageros). Materiais como saquinhos de chá, gravetos e palitos de fósforo também podem entrar na composteira.</p>
                <div class="image">
                    <img height="225px" src="assets/img/composteira_domestica.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Utilize uma composteira </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Cascas e sobras de alimentos podem ser reaproveitados em receitas deliciosas. Borra de café pode ser um ótimo esfoliante de pele, assim como fertilizante para plantas. Sementes de frutas e vegetais não precisam ir para o lixo, você pode
                    plantá-las, fazer compostagem ou mesmo receitas muito nutritivas.</p>
                <div class="image">
                    <img height="195px" src="assets/img/reaproveitar.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Reaproveite </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Já conhecemos algumas recomendações: tomar banhos curtos, fechar a torneira, reaproveitar água do banho ou da máquina de lavar para fazer pequenas limpezas. Mas já parou para pensar no consumo de água dos produtos que compramos? Gasta-se
                    cerca de 7 mil litros de água para a produção de uma única calça jeans. Isso é o consumo médio de água de uma pessoa por mais de 2 meses! Faça escolhas que reduzam sua pegada hídrica.</p>
                <div class="image">
                    <img width="295" height="200px" src="assets/img/agua.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Reduza o consumo de água </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Opte por eletrodomésticos econômicos. Tire os aparelhos da tomada. Valorize a iluminação natural. Hábitos simples podem gerar grandes resultados na economia de energia</p>
                <div class="image">
                    <img height="235px" src="assets/img/energia.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Reduza o consumo de energia </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Embalagens, pneus, potes, caixas, tudo o que puder. Não compre outra vez o que você pode consertar, transformar e reutilizar.</p>
                <div class="image">
                    <img height="220px" src="assets/img/reutilizar.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Reutilize </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Organização é a chave para evitar o desperdício de alimentos, descartar corretamente as embalagens e os resíduos e praticar o consumo consciente.</p>
                <div class="image">
                    <img height="200px" src="assets/img/organizacao.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Organize-se </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Somente o necessário, o extraordinário é demais! Faça uma lista de compras e adquira o suficiente para não estragar ou ocupar espaço desnecessariamente.</p>
                <div class="image">
                    <img height="200px" src="assets/img/compras.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Compre o necessário </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Em vez de gastar em shoppings e lojas convencionais, visite brechós. Os bazares e feiras de trocas são locais descolados, com gente interessante que expõe móveis, eletrodomésticos, roupas e acessórios, livros, e outros produtos de boa
                    qualidade a preços convidativos.</p>
                <div class="image">
                    <img height="220px" src="assets/img/brecho.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Sebos, brechós e afins</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="testimotionals">
        <div class="card">
            <div class="layer">

            </div>
            <div class="content">
                <p>Doar é, além de um ato de generosidade, uma oportunidade de compartilhar um pouco de nós com o outro. Esse simples exercício de desapego nos ensina a valorizar mais a vida e praticar empatia. Doar também auxilia na diminuição da poluição,
                    do consumo e do descarte desnecessário. </p>
                <div class="image">
                    <img height="200px" src="assets/img/doacao.jpg" alt="">
                </div>
                <div class="details">
                    <h2> Doe </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/.Cards Consumo Sustentável-->

<!--/.Faixa ConsumoSustentável-->