<title>Pró-Causas - Início</title>
<div class="container">

    <!--Inicio Row Carousel-->
    <div class="row">
        <div class="col-md-12 mt-2 d-flex justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner rounded shadow">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/img/voluntarios-abraco.jpg" alt="Primeiro Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/img/voluntaria-dog.jpg" alt="Segundo Slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/img/asilo.jpg" alt="Terceiro Slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
        <!--Fim Row Carousel-->
    </div>

    <!--Inicio Row Jumbotron-->

    <div class="row">
        <div class="col-md-12 d-flex jumbotron jumbotron-fluid mt-4 border-0 justify-content-center rounded p-3 w-100  bg-orange">
            <div class="col-md-4 p-3">
                <a class="" href="#">
                    <img src="assets/img/pro-causas-quadrado.png" height="385px" alt=""></a>
            </div>
            <div class="col-md-8 p-1">
                <h1 class="display-5 text-center">Encontre e apoie uma causa</h1>
                <p class="lead text-center ml-5 font-weight-bold">Faça a diferença apoiando causas que fazem seu coração bater mais forte!</p>
                <p class="ml-5">No Pró-Causas você pode postar causas sociais que você apoia, e também encontrar diversas causas para apoiar. Existem várias maneiras de ajudar, veja alguns exemplos:<br>♥ Encontrar uma ONG perto de você para realizar trabalho voluntário;
                    <br>♥ Postar sobre a feira de adoção de animais que você quer ajudar;<br>♥ Encontrar uma instituição de caridade para doar as roupas e sapatos que não usa;<br>♥ Postar sobre o bingo promovido pelo asilo do seu bairro para realizarem
                    uma reforma;
                    <br>♥ Encontrar um abrigo para indicar a alguém que precisa;<br>♥ Postar sobre o almoço comunitário que será promovido no seu bairro;<br>♥ Encontrar um serviço de arrecadação de alimentos que sua comunidade está organizando para ajudar
                    famílias em situação de vulnerabilidade; entre diversas outras causas...<br>Aqui você pode encontrar e apoiar a causa que fizer mais sentido para você hoje!</p>
            </div>
        </div>
    </div>

    <!--Fim Row Jumbotron-->

    <div class="col-12 mb-4 d-flex justify-content-center text-orange">
        <h1>Causas em Destaque</h1>
    </div>

    <div class="row mb-4 d-flex justify-content-center">
        <!--Inicio Row Cards-->

        <div class="col-4">
            <div class="card border-0" style="width: 18rem;">
                <img class="card-img-top " src="http://www.caosemdono.com.br/wp-content/uploads/2014/04/shutterstock_63667945ok1.jpg" alt="Cão sem dono">
                <div class="card-body ">
                    <h5 class="card-title">Adote um pet</h5>
                    <p class="card-text">O Cão Sem Dono é uma ONG sem fins lucrativos, e que nasceu de um grande sonho do seu atual presidente: tirar o maior número possível de animais das ruas, dar tratamento adequado e integrá-los a famílias que lhes deem amor, carinho
                        e uma vida digna.</p>
                    <a href="http://www.caosemdono.com.br/" target="_blank" class="btn btn-orange d-flex justify-content-center">Visitar</a>
                </div>
            </div>
        </div>

        <div class="col-4 ">
            <div class="card border-0" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/casa-maria-maia.jpg" alt="Logo Casa Maria Maia">
                <div class="card-body">
                    <h5 class="card-title">Casa Maria Maia</h5>
                    <p class="card-text">Instituição filantrópica que atende gratuitamente pessoas carentes, portadoras de paralisia cerebral severa e doenças neurológicas correlatas, com deficiência física associada, de ambos os sexos, sem distinção de cor, raça ou religião,
                        que necessitam de cuidados especiais e ininterruptos.</p>
                    <a href="http://www.casamariamaia.org.br/" target="_blank" class="btn btn-orange d-flex justify-content-center">Visitar</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card border-0" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/sos-amazonia.png" alt="Logo S O S Mata Atlântica">
                <div class="card-body">
                    <h5 class="card-title">SOS Amazônia</h5>
                    <p class="card-text">ONG com a missão de promover a conservação da biodiversidade e o crescimento da consciência ambiental na Amazônia. São muitos os desafios para manter a floresta preservada, mas juntos podemos fazer mais! Vamos nessa?
                    </p>
                    <a href="https://www.carenb.com/produto/sos-amazonia-37" target="_blank" class="btn btn-orange d-flex justify-content-center">Visitar</a>
                </div>
            </div>
        </div>
        <!--Fim Row Cards-->

    </div>
</div>