<div class="col">
    <div id="app-cover">
        <div id="select-box">
            <input type="checkbox" id="options-view-button">

            <div id="select-button" class="brd">
                <div id="selected-value">
                    <span>Opções</span>
                </div>
                <div id="chevrons">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>

            <div id="options" style="width: 165px;">
                <div class="option">
                    <input class="s-c top" type="radio" name="platform" value="codepen">
                    <input class="s-c bottom" type="radio" name="platform" value="codepen">
                    <i class="fab fa-codepen" style="top: -06px;"></i>
                    <span class="label">CodePen</span>
                    <span class="opt-val">CodePen</span>
                </div>


                <div id="option-bg"></div>
            </div>
        </div>
    </div>
</div>