<h1 mat-dialog-title>Aqui está o post completo. 😀</h1>
<div mat-dialog-content class="dialog">
    <mat-card-title>Pits Ales </mat-card-title> <br>
    <mat-card-subtitle>Daniel </mat-card-subtitle> <br>
    <mat-card-subtitle>Animais </mat-card-subtitle>
    <mat-tab-group>

        <mat-tab label="Postagem">

            <!-- {{postagem.postTexto}} -->
            <p style="margin-top: 15px;">Avelã passou o final de semana estável. Internado e medicado. Se alimentou razoavelmente bem. Ja iremos fazer raio x na pata e USG. Também passará por consulta com oculista. O caso é grave e os custos altos. Diárias de internação são caras,
                assim como exames (fazemos muitos) e consultas com especialistas. Preciso muito de vcs para ajudar o Avelã. Temos kits lindos, tem a vaquinha. Vc tb pode depositar 10 reais em uma de nossas contas. Toda ajuda é muito bem vinda 🙏🏼 Precisamos
                de ração Hills para ele (para mais informações , no mail pitsales99@gmail.com)<br> Nossas contas : Itaú - Ag. 9241 Cc. 77863-9 <br>Santander - Ag. 4552 Cc. 01000178-3 <br>Bradesco - Ag. 2283 Cc. 470304-9 <br>PayPal: pitsales99@gmail.com
                <br>Picpay : @pits.ales
            </p>

        </mat-tab>


        <mat-tab label="Endereços">

            <!-- {{ postagem.postEndereco }} <br> {{ postagem.postEstado }} <br> {{ postagem.postCidade }} -->


        </mat-tab>


        <mat-tab label="Foto/Imagem">


        </mat-tab>


        <mat-tab label="Mais Informações">

            <!-- {{ postagem.postUrl }} -->
            <a href="https://www.kickante.com.br/campanhas/ajude-aos-pits-ales-vem" target="_blank">Vaquinha</a>

        </mat-tab>

    </mat-tab-group>
    <!-- <mat-card-content>

       


    </mat-card-content> -->
</div>