.background-orange {
    background-color: rgb(235, 156, 10);
}

a {
    cursor: pointer;
}

.background-black {
    background-color: black;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}