<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<section>
    <div class="fundo-do-feed cinza1">

        <div class="container">

            <div class="row 1-camada">

                <div class="col-lg-12">

                    <div class="container row 2-camada">
                        <!-- painel lateral esquerdo -->
                        <div class="painel-lateral cinza2 container col-md-2">
                            <!-- conteúdo painel lateral esquerdo -->
                            <div>
                                <h4 style="margin: 5px;">
                                    Barra Lateral

                                </h4>
                            </div>

                            <hr>
                            <!-- dropdown de temas -->
                            <app-dropd></app-dropd>
                            <!-- dropdown de temas -->

                        </div>

                        <!-- fim painel lateral esquerdo -->

                        <!-- painel central -->
                        <div class="coluna-central container-fluid col-lg-9 fundo-central">
                            <!-- conteúdo painel central -->

                            <!-- abertura div caixa de postagem -->
                            <div id="POSTBOX" class="postbox cinza2 container mb-3">

                                <!-- abre row postagem -->
                                <div class=" container row w-100 justify-content-center" style="margin:15px;">
                                    <div class="col-md-4">
                                        <div class="row justify-content-center">
                                            <img class="avatar" src={{fotoUrlUser}} alt="foto de perfil">
                                        </div>
                                        <div class="row justify-content-center">
                                            <a style="text-decoration: none;" routerLink="/meusdados">{{ nomeUser }}</a>
                                        </div>
                                    </div>
                                    <div class="container col-lg-8">

                                        <button id="fake-btn" class="cinza3 w-100" style="margin:15px;" (click)="abrirDialog()">
                                            O que deseja publicar? 😀
                                        </button>

                                    </div>
                                </div>

                            </div>
                            <!-- fecha div caixa de postagem -->


                            <!-- abre div listagem feed -->
                            <div class="lista-feed container row cinza2">

                                <!-- COLUNA LISTAGEM FEED -->
                                <!-- <div class="container bg-danger border border-danger">
                                    <div class="card bg-info mt-5 mb-5" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
                                        a
                                        <div class="card-header">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-md-8">
                                                    <h5 class="card-title"> {{item.postTitulo}} </h5>
                                                    <small>Tema: {{item.tema.temaDescricao}} </small>
                                                </div>
                                                <div class="col-md-4 d-flex justify-content-end">

                                                    <button class="mr-3 btn btn-outline-info" [routerLink]="['/editar-post', item.id]">
                                                        Editar
                                                    </button>

                                                    <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-post', item.id]">
                                                        Apagar
                                                    </button>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <p class="card-text" aria-describedby="texto"> {{item.postTexto}}
                                            </p>
                                            <small id="texto" class="form-text m-0 text-muted mb-3">
                                                Postado em {{item.data | date: 'dd/MM/yyyy'}} às
                                                {{item.data | date:'HH:mm'}}</small>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="container row">
                                    <div class="container col-lg-12 d-flex justify-content-center">
                                    </div>
                                    <mat-card class=" example-card w-100">
                                        <mat-card-header>
                                            <div mat-card-avatar class="example-header-image"></div>
                                            <mat-card-title>Labrador Albino</mat-card-title>
                                            <mat-card-subtitle>"Causa animal"</mat-card-subtitle>
                                        </mat-card-header>
                                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                                        <mat-card-content>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sequi magni voluptas fugit maiores repellendus praesentium, similique eos mollitia dolores eligendi perspiciatis temporibus eius impedit assumenda veritatis excepturi asperiores recusandae.
                                            </p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button>PARTICIPAR</button>
                                            <button mat-button>COMPARTILHAR</button>
                                        </mat-card-actions>
                                    </mat-card>

                                </div>



                                <!-- FECHA COL LISTAGEM FEED -->

                            </div>
                            <!-- fecha div postagem feed -->
                        </div>
                        <!-- fim painel central -->

                        <!-- painel lateral direito 
                        OBS: PARA CONSEGUIR USAR ESSE PAINEL É PRECISO
                    DIMINUIR O TAMANHO DA COL DO PAINEL CENTRAL-->
                        <!-- <div class="col-md-2 fundo-lateral-direito border border-danger bg-warning" style="margin:15px;">
                        </div> -->

                        <!-- fim painel lateral direito -->

                        <div>
                            <app-float-btn></app-float-btn>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>