<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<section>
    <div class="fundo-do-feed">

        <div class="container">

            <div class="row 1-camada border border-danger">

                <div class="col-lg-12">

                    <div class="container row 2-camada border border-info">
                        <!-- painel lateral esquerdo -->
                        <div class="container col-md-2 fundo-lateral-esquerdo border border-danger"
                            style="background-color: aqua;margin:15px; display: inline-block; position: relative;">
                            <!-- conteúdo painel lateral esquerdo -->

                            <div>
                                <h4 style="margin: 5px;">
                                    titulo painel lateral
                                </h4>
                            </div>
                            <hr>
                            <!-- dropdown de temas -->
                            <app-dropdown-temas></app-dropdown-temas>
                            <!-- dropdown de temas -->



                        </div>
                        <!-- fim painel lateral esquerdo -->

                        <!-- painel central -->
                        <div class="container-fluid col-lg-9 fundo-central border border-danger bg-info"
                            style="margin: 15px;">
                            <!-- conteúdo painel central -->

                            <!-- abertura div caixa de postagem -->
                            <div id="POSTBOX" class="bg-danger mb-3">

                                <!-- abre espaço de postagem -->
                                <div class="container bg-warning border border-danger "
                                    style="padding: auto 0px; margin-top: 5px; border-radius: 1rem;">
                                    <div class="container border border-danger" style="">
                                        <div class="row w-100" style="margin:15px;">
                                            <div class="col-md-4 bg-success">
                                                <div class="row justify-content-center">
                                                    <img class="avatar" src="https://i.imgur.com/OShlP7J.png"
                                                        alt="foto de perfil">
                                                </div>
                                                <div class="row justify-content-center">
                                                    <a style="text-decoration: none;" href="">Maria do Bairro</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
    
                                                <button id="fake-btn" class="bg-dark w-100"(click)="abrirDialog()">
                                                    O que deseja publicar? 😀 
                                                </button>
    
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- row dos botoes -->
                                    <!-- (tirei essa parte) -->
                                    <!-- fecha row dos botoes -->
                                </div>
                                <!-- fecha espaço de postagem -->


                            </div>
                            <!-- fecha div caixa de postagem -->


                            <!-- abre div listagem feed -->
                            <div class="row border border-warning bg-danger" style="margin: 2px; border-radius: 1rem;">
                                <div class="col-md-12">
                                    <h1>ESPAÇO LISTAGEM FEED</h1>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere, amet
                                        quos
                                        placeat tenetur pariatur libero aut nemo accusamus, laborum totam consectetur
                                        quod
                                        reprehenderit reiciendis ab nobis ipsam quasi consequuntur?
                                    </p>

                                </div>

                            </div>
                            <!-- fecha div postagem feed -->
                        </div>
                        <!-- fim painel central -->

                        <!-- painel lateral direito 
                        OBS: PARA CONSEGUIR USAR ESSE PAINEL É PRECISO
                    DIMINUIR O TAMHO DA COL DO PAINEL CENTRAL-->
                        <!-- <div class="col-md-2 fundo-lateral-direito border border-danger bg-warning" style="margin:15px;">
                        </div> -->

                        <!-- fim painel lateral direito -->

                        <div>
                            <app-float-btn></app-float-btn>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>