<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="integrantes.component.css">

<div class="row d-flex justify-content-center">
    <div class="card">
        <div class="image">
            <img src="assets/img/caio.jpeg" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Caio Bispo</h1>
                <p>Entusiasta de tecnologia, amante de jogos e músicas.</p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/caiocsb/" target="_blank">
                            <img src="assets/img/linkedin.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/CaioCSB" target="_blank">
                            <img src="assets/img/github.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="assets/img/daniel.jpeg" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Daniel Cardoso</h1>
                <p>Amante de tecnologia, entusiasta do pedal e de vídeos de construção de casas no meio da floresta.</p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/danielcardos0/" target="_blank">
                            <img src="assets/img/linkedin.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/daniel-cardoso" target="_blank">
                            <img src="assets/img/github.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="assets/img/danilo.jpeg" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Danilo Alves</h1>
                <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/danilo-a-santos/" target="_blank">
                            <img src="assets/img/linkedin.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/DaniloAS91" target="_blank">
                            <img src="assets/img/github.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="assets/img/daysy.jpg" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Daysy Lorena</h1>
                <p>Engenheira desenvolvedora vegana apaixonada por aprendizado. Dançarina e leitora voraz nas horas vagas.</p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/daysylorena/" target="_blank">
                            <img src="assets/img/linkedin.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/daysylorena" target="_blank">
                            <img src="assets/img/github.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="assets/img/paula.JPG" />
        </div>
        <div class="details">
            <div class="center">
                <h1>Paula Figueiredo</h1>
                <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/paulinha-figueiredo/" target="_blank">
                            <img src="assets/img/linkedin.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/PaulaFigueiredo22" target="_blank">
                            <img src="assets/img/github.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>