<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container content">
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">flag</i></div>
        <p class="title">Missão</p>
        <p class="text">Ser um portal de facilitação de acesso e visibilidade de iniciativas sociais para que as pessoas possam ajudar de qualquer lugar, quando, onde e como puderem.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">visibility</i></div>
        <p class="title">Visão</p>
        <p class="text">Ser o primeiro nome que as pessoas pensam quando querem ajudar alguma causa social.</p>

    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card">

        <div class="icon"><i class="material-icons md-36">explore</i></div>
        <p class="title">Valores</p>
        <p class="text">Respeito, Ética, Integridade, Responsabilidade Social, Altruísmo, Empatia, Agir em prol da sociedade.</p>

    </div>
    <!-- end card -->

</div>