
<div class="container pt-5 mt-5 w-50">
<div class="card text-center d-flex justify-content-center bg-dark mt-5">
    <div class="card-header d-flex justify-content-center colorl">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login-cad">Logar</a>
        </li>
        <li class="nav-item colorl">
          <a class="nav-link" routerLink="/cadastro">Registrar-se</a>
        </li>
      </ul>
    </div>
    <div class="card-body colorl d-flex justify-content-center">
      <form action="/action_page.php">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Senha:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <a href="">Esqueci a senha</a>
          </div>
        <div class="checkbox">
          <label><input type="checkbox">Lembrar</label>
        </div>
        <a href="#" class="btn btn-primary">Visitar</a>
      </form>
    </div>
</div>
</div>

