<title>Pró-Causas - Sobre nós</title>
<div class="container-fluid justify-content-center ">
    <div class="row w-100 mt-5 text-orange">
        <div class="col-md-12">
            <h1 class="text-center"> Quem Somos</h1>
        </div>
    </div>
    <div style='text-align:center' class="container d-flex row w-100 mt-4 text-orange ml-5 ">
        <div class="col-md-12 ">
            <p class="text-justify blocktext ">
                Somos um grupo de desenvolvedores web em desenvolvimento. Temos o desejo de causar impacto social e enxergamos uma oportunidade de realizar esse desejo através da tecnologia, criando uma plataforma acolhedora para promover e dar igual visibilidade à todas
                as causas sociais que tocam o coração da população e que necessitam de ajuda.
            </p>
        </div>
    </div>

    <app-integrantes></app-integrantes>

    <div class="row mb-4">
        <div class="col-md-12">
            <app-missao-visao-valores></app-missao-visao-valores>
        </div>
    </div>

</div>