<title>Pró-Causas - Sobre nós</title>
<div class="container justify-content-center border border-info">
    <h1 class="text-center text-orange border border-info"> Quem Somos</h1>

    <p class="d-flex container  justify-content-center border border-info text-orange">
        Somos um grupo de desenvolvedores web em desenvolvimento. Temos o desejo de causar impacto social e enxergamos uma oportunidade de realizar esse desejo através da tecnologia, criando uma plataforma acolhedora para promover e dar igual visibilidade à todas
        as causas sociais que tocam o coração da população e que necessitam de ajuda.
    </p>

    <app-integrantes></app-integrantes>

    <div class="mvv border border-info" style="margin: 50px;">
        <app-missao-visao-valores></app-missao-visao-valores>
    </div>


</div>